{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block page_header %}Edit your account{% endblock %}
{% block content %}

 {% bootstrap_css %}
    

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <link rel="stylesheet" href="{% static 'css/main1.css' %}">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
 <style type="text/css">

 	.profile-card {
  background: #FFB300;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 15%;
  top: 50%;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  margin-top: 70px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, 
             moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, 
             moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, 
             materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}


@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveUp {
  0% {
    background: #FFB300;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: #E0E0E0;
  }
}

@keyframes materia {
  0% {
    background: #E0E0E0;
  }
  50% {
    border-radius: 4px;
  }
  100% {
    width: 340px;
    height: 380px;
    background: #FFFFFF;
    border-radius: 4px;
    top: 72%;
  }
}
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 6px auto;
    margin-left: 112px;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}
/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
.nav {
    display: -ms-flexbox;
    display: block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 68px;
    margin-bottom: 3px;
    list-style: circle;
}
 </style>

<div class="col-6" style="margin-top: 32px;margin-left: 474px;max-width: 67%;">
      
                {% for blog in blogs%}
                <!-- Post Begins -->
                <section class="card mt-4">
                    <div class="border p-2" style="
    box-shadow: 13px 10px 5px 0px rgba(0,0,0,0.75);
">
                        <!-- post header -->
                        <div class="row m-0">
                            <div class="">
                                {% if blog.user.profile.photo %}
                              {% load thumbnail %}
                                <a  href="{{blog.user.profile.photo.url}}">
                                    <img src="{% thumbnail blog.user.profile.photo 50x50 %}" class="image-detail" >
                                </a>
                              {% endif %}
                            </div>
                            <div class="flex-grow-1 pl-2">
                                {% if blog.user != request.user %}
                                <a class="text-decoration-none" href="{% url 'users:others' blog.user %}">
                                    <h2 class="text-capitalize h5 mb-0">{{blog.user}}</h2>
                                </a> 
                                {% else %}
                                <a class="text-decoration-none" href="{% url 'users:profile' %}">
                                    <h2 class="text-capitalize h5 mb-0">{{blog.user}}</h2>
                                </a> 
                                {% endif %}
                                <p class="small text-secondary m-0 mt-1">{{blog.date_added}}</p>
                            </div>
                            
                            <div class="dropdown">
                                <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-chevron-down"></i>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    
                                    <a class="dropdown-item text-primary" href="{% url 'blog:blog_delete' pk=blog.pk %}">Delete</a>
                                </div>
                            </div>
                        </div>
                        <!-- post body -->
                        <div class="">
                            <p class="my-2">
                                {{blog.blog_text}}
                            </p>
                            <center>
                            {% if blog.photo %}
    <img style="max-width:500px" src  = "{{blog.photo.url}}">
    {% endif %}
    </center>
                        </div>      
                        <hr class="my-1">
                        <!-- post footer begins -->
                        <footer class="">
                            <!-- post actions -->
                            <div class="">
                                <ul class="list-group list-group-horizontal">
                                 
                                        <li data-id="{{ blog.id }}" data-type="blog" data-action="like" title="Нравится" class="list-group-item flex-fill text-center p-0 px-lg-2 border border-0">
                                            
                                        <a class="small text-decoration-none" href="#">
                                            <i class="far fa-thumbs-up"></i>
        <span data-count="like">{{ blog.votes.likes.count }}</span></a>
                                        
                                    </li>
                                    
                                    <li data-id="{{ blog.id }}" data-type="blog" data-action="dislike" title="Не Нравится" class="list-group-item flex-fill text-center p-0 px-lg-2 border border-right-0 border-top-0 border-bottom-0">
                                        
                                          <a class="small text-decoration-none" href="#">
                                            <i class="far fa-thumbs-down"></i>
        <span data-count="dislike">{{ blog.votes.dislikes.count }}</span></a>
                                        
                                    </li>
                                    
                                    <li class="list-group-item flex-fill text-center p-0 px-lg-2 border border-right-0 border-top-0 border-bottom-0">
                                        <a class="small text-decoration-none" data-toggle="collapse" href="#collapse{{ blog.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            <i class="fas fa-comment-alt"></i> {{ blog.comments.count }} Comment
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                            
                            
                            <!-- collapsed comments begins -->
                            <div class="panel-collapse collapse in" role="tabpanel" id="collapse{{ blog.id }}">
                                <div class="card border border-right-0 border-left-0 border-bottom-0 mt-1">
                                    <!-- new comment form -->
                                    <section class="mt-3">
                                        <button type="button" data-toggle="collapse" class="btn btn-outline-primary">
                                        <a  href="{% url 'blog:add_comment' blog.id %}">Comment
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-left-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v11.586l2-2A2 2 0 0 1 4.414 11H14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
</svg></a></button>
                                    </section>
                                    <!-- comment card bgins -->
                                    {% for comment in blog.comments.all %}
                                    <section>
                                        <div class="card p-2 mt-3">
                                            <!-- comment header -->
                                            <div class="d-flex">
                                                <div class="">
                                                     {% if comment.comment_user.profile.photo %}
                              {% load thumbnail %}
                                <a  href="{{comment.comment_user.profile.photo.url}}">
                                    <img src="{% thumbnail comment.comment_user.profile.photo 40x40 %}" class="image-detail" >
                                </a>
                              {% endif %}
                                                </div>
                                                <div class="flex-grow-1 pl-2">
                                                     {% if comment.comment_user != request.user %}
                                                    <a class="text-decoration-none text-capitalize h6 m-0" href="{% url 'users:others' comment.comment_user %}">
                                                    {{comment.comment_user}}</a>
                                                    {% else %}
                                                    <a class="text-decoration-none text-capitalize h6 m-0" href="{% url 'users:profile' %}">
                                                    {{comment.comment_user}}</a>
                                                    {% endif%}



                                                    <p class="small m-0 text-muted">{{ comment.date_added }}</p>
                                                </div>
                                                
                                            </div>
                                            <!-- comment header -->
                                            <!-- comment body -->
                                            <div class="card-body p-0">
                                                <p class="card-text h7 mb-1">{{ comment.cooment_text|linebreaks }}</p>
                                                
                                            </div>
                                        </div>
                                    </section>
                                    <!-- comment card ends -->
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- collapsed comments ends -->
                        </footer>
                        <!-- post footer ends -->
                    </div>
                </section>
                {% endfor %}
               
                <!-- Post Ends -->
            </div>
<aside class="profile-card">
			
				<!-- SIDEBAR USERPIC -->

				<div class="profile-userpic" style="
    max-width: 259px;
    max-height: 140px;
">
          {% if user.profile.photo %}
					<img src  = "{{user.profile.photo.url}}" class="img-responsive" alt="" style="
          }


    max-width: 124px;
    max-height: 140px;
">
{% else %}
<img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS54088iJjHpn-y9FCxGAh5NBEdHugwIXewWQ&usqp=CAU" class="img-responsive" alt="" style="
          }


    max-width: 124px;
    max-height: 140px;
">

{% endif %}
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{user.username}}
					</div>
					<div class="profile-usertitle-job">
						Student
						
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<a href="{% url "users:edit" %}">
					<button type="button" class="btn btn-success btn-sm">
						Edit</button></a>
						<a href="{% url "users:password_change" %}">
					<button type="button" class="btn btn-danger">
          Change password
          <svg width="1.2em" height="1.2em" viewBox="0 -0.5 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
</svg>
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
</svg>
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</svg>
        </button></a>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li >
							<a>
							<i class="glyphicon glyphicon-home"></i>
							First name:  <strong>{{user.first_name}} </strong></a>
						</li>
						<li>
							<a>
							<i class="glyphicon glyphicon-user"></i>
							Last name: <strong>{{user.last_name}}</strong></a>
						</li>
						<li>
							<a  target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							Date of birth: <strong>{{user.profile.date_of_birth}} </strong></a>
						</li>
						
					</ul>
				</div>
				<!-- END MENU -->
			
		
</aside>
<script type="text/javascript">
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

// Настройка AJAX
$(function () {
    $.ajaxSetup({
        headers: { "X-CSRFToken": getCookie("csrftoken") }
    });
});


function like()
{
    var like = $(this);
    var type = like.data('type');
    var pk = like.data('id');
    var action = like.data('action');
    var dislike = like.next();
 
    $.ajax({
        url : "/" + type +"/" + pk + "/" + action + "/",
        type : 'POST',
        data : { 'obj' : pk },
 
        success : function (json) {
            like.find("[data-count='like']").text(json.like_count);
            dislike.find("[data-count='dislike']").text(json.dislike_count);
        }
    });
 
    return false;
}
 
function dislike()
{
    var dislike = $(this);
    var type = dislike.data('type');
    var pk = dislike.data('id');
    var action = dislike.data('action');
    var like = dislike.prev();
 
    $.ajax({
        url : "/" + type +"/" + pk + "/" + action + "/",
        type : 'POST',
        data : { 'obj' : pk },
 
        success : function (json) {
            dislike.find("[data-count='dislike']").text(json.dislike_count);
            like.find("[data-count='like']").text(json.like_count);
        }
    });
 
    return false;
}
 
// Подключение обработчиков
$(function() {
    $('[data-action="like"]').click(like);
    $('[data-action="dislike"]').click(dislike);
});









</script>

{% endblock %}